@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";

footer{
    background-color: $colornav;
    @include footer;
    padding: $paddinggral;
    border-top: $borde2;
    a{
        padding: $paddinggral;
        background-color: violet;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
    }
}

.divFooter{
    display: flex;
    align-items: center;
    margin: 0px $margingral;
    padding: $paddinggral/4 $paddinggral;
    background-color: $color3;
    border-radius: 10px;
    width: $width1;
}
.pFooter{
    margin: 0px;
    text-align: center;
}
.pagLio{
    padding: $paddinggral;
    background-color: $color3 !important;
    text-decoration: none;
    color: black !important;
    border: none !important;
    border-radius: none !important;
    margin-left: $margingral*3 !important;
}