@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";

/* Nav */
.logo{
    width: 9vw;
}
nav{
    @include centrar-medio;
    background-image: linear-gradient(to right, $colornav, $color2, $color3);
    border-top: $borde2;
    border-bottom: $borde2;
    padding: $paddinggral/2;
    a{
        text-decoration: none;
        color: black;
    }
}
.navegador{
    @include nav;
    list-style: none;
    width: $width2;
    margin-top: $margingral;
}
.cos{
    width: 7vw;
    border: $borde2;
    border-radius: 7px;
}
