@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";

/* 900 */

@media only screen and (max-width: 900px){
    /* Nav */
    .logo{
        width: 12vw;
    }
    .cos{
        width: 10vw;
    }
    /* Carrusel */
    .fotintro{
        img{
            border: $borde1;
        }
    }
    /* Dato */
    .dato{
        .pDato{
            font-size: 1vw;
        }
    }
    /* COHADRAJOT */
    /* Ayuda */
    .h3Ayuda{
        font-size: 2.2vw;
    }
    /* Motivacional */
    .padreMotivacional{
        margin-top: $margingral*2;
    }
    .moti{
        width: 85vw;
    }
}

/* 730 */

@media only screen and (max-width: 730px){
    /* Tweet */
    .javatweets{
        box-shadow: 4px 4px 4px $color1;
    }
    .tweet{
        box-shadow: 2px 2px 2px $color4;
        border: $borde3;
    }
    /* Dato */
    .divDato{
        box-shadow: 4px 4px 4px $color1;
    }
    .dato{
        box-shadow: 2px 2px 2px $color4;
        width: $width2;
        .pDato{
            font-size: 1.2vw;
        }
    }
    .divFooter{
        .pFooter{
            font-size: 2vw;
        }
    }
}

/* 545 */

@media only screen and (max-width: 545px){
    /* GRAL */
    .h2Gral{
        font-size: 4.8vw !important;
        margin-top: $margingral;
    }
    /* Nav */
    .logo{
        width: 13vw;
        padding-left: $paddinggral;
    }
    .cos{
        width: 12vw;
        margin-top: $margingral*2;
        border: $borde3;
    }
    /* Carrusel */
    .fotintro{
        img{
            border: $borde2;
        }
    }
    /* Listado */
    .divListado{
        border: $borde2;
        box-shadow: 4px 4px 4px $color1;
    }
    .divList{
        .aMaa{
            font-size: 5vw;
        }
        .aTik{
            font-size: 5vw;
        }
        .aKava{
            font-size: 5vw;
        }
        .aJalo{
            font-size: 5vw;
        }
    }
    .aLio{
        font-size: 6vw;
    }
    /* Crono del día */
    .h2Crono{
        font-size: 4.5vw !important;
    }
    .divCrono{
        border: $borde2;
        box-shadow: 4px 4px 4px $color1;
    }
    .cronomaj{
        width: $width2+5;
    }
    /* Tips de hoy */
    .divPadreTip{
        .divTip{
            border: $borde2;
            box-shadow: 4px 4px 4px $color1;
            .padre{
                div{
                    font-size: 2.3vw;
                }
            }
        }
    }
    /* Golo */
    .divGolo{
        width: $width7;
    }
    .h3Tip{
        font-size: 4vw;
    }
    .botGolo{
        a{
            font-size: 2.1vw;
        }
    }
    /* Footer */
    .divFooter{
        .pFooter{
            font-size: 2.1vw;
        }
    }
    /* CATÁLOGO */
    .cartaCompra{
        width: $width7 !important;
        border: $borde2 !important;
        padding: $paddinggral;
    }
    .tituloCarta{
        font-size: 3vw;
    }
    .palito{
        width: 25vw !important;
    }
    .divWpp{
        border: $borde2 !important;
        width: $width6+5 !important;
    }
    .pWpp{
        font-size: 2.2vw !important;
    }
    .dedo{
        font-size: 6vw;
    }
    .wpp{
        width: 10vw;
    }
    /* COHADRAJOT */
    /* Peulot de su día */
    .divPeulot{
        border: $borde2;
        box-shadow: 4px 4px 4px $color1;
    }
    .divList{
        .aPeu1{
            font-size: 5vw;
        }
        .aPeu2{
            font-size: 5vw;
        }
        .aPeu3{
            font-size: 5vw;
        }
        .aPeu4{
            font-size: 5vw;
        }
    }
    .aGrales{
        font-size: 6vw;
    }
    /* Tips */
    .h3Tipp{
        font-size: 3.8vw;
    }
    .tipcolor{
        border: $borde3;
        width: $width6;
    }
    .ti{
        font-size: 2vw;
    }
    /* Progreso */
    .majane{
        border: $borde2;
    }
    .volando{
        font-size: 4vw !important;
        margin-bottom: $margingral;
    }
    .indicadores{
        div{
            width: $width10 !important;
            font-size: 2.5vw !important;
        }
    }
    /* Ayuda */
    .h3Ayuda{
        font-size: 3.3vw;
    }
    .pAyuda{
        font-size: 2.8vw;
    }
    .btn{
        height: 8vw !important;
    }
    .ayudas{
        a{
            font-size: 2.5vw;
        }
    }
    /* Motivacional */
    .moti{
        border: $borde2;
        box-shadow: 2px 2px 2px $color5;
        width: 86vw !important;
    }
    /* Sugus */
    .pSugus{
        font-size: 4vw !important;
    }
    /* JAVA */
    /* Playlist */
    .padreDivPlaylist{
        margin-bottom: $margingral;
    }
    .divPlaylist{
        border: $borde2;
        box-shadow: 4px 4px 4px $color1;
    }
    .divPlay{
        .PL{
            font-size: 5vw;
        }
    }
     /* Tweet */
    .h2Tweet{
        font-size: 4.8vw;
    }
    .javatweets{
        border: $borde2;
    }
    .tweet{
        @include tweetero;
        height: 25vw;
        p{
            font-size: 1.8vw;
        }
    }
    .h5Tweet{
        font-size: 2.7vw;
    }
    /* Sentimiento */
    .imgSent{
        width: 83vw;
    }
    /* Figuritas */
    .divH2Java{
        border: $borde2;
        width: $width3;
        margin-bottom: $margingral;
    }
    .parent{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: $paddinggral*2;
        width: $width2+5;
        div{
            border: $borde3;
            box-shadow: 3px 3px 3px $color2;
            width: 20vw;
        }
    }
    .h2Div{
        font-size: 3.5vw;
        margin: 0px $margingral;
    }
    .imgDiv{
        width: 6vw !important;
        margin: $margingral*6 0px !important;
    }
    .h3Div{
        font-size: 2.8vw;
        margin-top: $margingral*4 !important;
    }
    .pDiv{
        margin-bottom: 0px;
    }
    /* As */
    .divList{
        a{
            -webkit-text-stroke: 0.6px black !important;
        }
    }
    .aLio{
        -webkit-text-stroke: 0.6px black !important;
    }
    .aGrales{
        -webkit-text-stroke: 0.6px black !important;
    }
    .divPlay{
        .PL{
            -webkit-text-stroke: 0.6px black !important;
        }
    }
    .ult{
        display: flex !important;
        justify-content: center !important;
    }
}

/* 400 */

@media only screen and (max-width: 400px){
    /* Nav */
    .logo{
        margin-left: $margingral;
    }
    .cos{
        width: 13vw;
        margin-top: $margingral*2;
    }
}